body{
    font-family: 'Open sans', sans-serif;
}
header{
    background-color: #E554731A;
}
.flower{
    display: flex;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
}
.banner{
    padding: 30px 30px 30px 150px;
    align-self:auto;
    flex: end;
}
.featured-flower{
    text-align: center;   
}
.customer-service{
    display: flex;
    justify-content: center;
}
.newFlower{
    display: flex; 
   justify-content: center;
   border-radius: 300px 300px 0px 0px;
}